# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.prod
.env.*
!.env.example

# Django
db.sqlite3
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/